<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<link rel="stylesheet" type="text/css" href="page.css"></link>


<script type="text/javascript" src="./js/jquery.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="./js/yahoo/yahoo-min.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="./js/yahoo/yahoo-dom-event.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="./js/yahoo/animation-min.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="./js/Basic.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="./js/accordion.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="./js/maphilight.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="./js/jquery-ui-min.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="./js/ilCOPagePres.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="./js/pure.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="./js/question_handling.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="./js/ilMatchingQuestion.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="./js/LearningModule.js?vers=5-0-8-2015-11-24"></script>
	
	<link rel="stylesheet" type="text/css" href="./css/accordion.css" media="screen" ></link>
	
	<link rel="stylesheet" type="text/css" href="./css/question_handling.css" media="screen" ></link>
	
	<link rel="stylesheet" type="text/css" href="./css/test_javascript.css" media="screen" ></link>
	
	<link rel="stylesheet" type="text/css" href="./content_style/content.css" media="screen" ></link>


<title>###TITLE###</title>
</head>
<body>
	<script>var ScormApi=null; var questions = new Array();</script>

	<h1>###TITLE###</h1>

	<button class="accordion">Skriptfolie</button>
	<div class="panel">
		<p>
			<img src="https://www1.hft-leipzig.de/thor/dbs/###PAGEID###.jpg" width="640" height="480"
				style="border: 1px solid black"></img>
		</p>
	</div>

	<button class="accordion">Lernvideo</button>
	<div class="panel">
		<p>
			<video controls width="640" height="480"
				style="border: 1px solid black">
				<source src="https://www1.hft-leipzig.de/thor/dbs/###PAGEID###.mp4" type="video/mp4"></source>
			</video>
		</p>
	</div>


	<script src="accordion.js"></script>

	###QUESTIONS###

</body>
</html>