<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<link rel="stylesheet" type="text/css" href="page.css"></link>


<script type="text/javascript" src="jquery.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="yahoo-min.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="yahoo-dom-event.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="animation-min.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="Basic.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="accordion.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="maphilight.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="jquery-ui-min.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="ilCOPagePres.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="pure.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="question_handling.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="ilMatchingQuestion.js?vers=5-0-8-2015-11-24"></script>
	
	<script type="text/javascript" src="LearningModule.js?vers=5-0-8-2015-11-24"></script>
	
	<link rel="stylesheet" type="text/css" href="accordion.css" media="screen" ></link>
	
	<link rel="stylesheet" type="text/css" href="question_handling.css" media="screen" ></link>
	
	<link rel="stylesheet" type="text/css" href="test_javascript.css" media="screen" ></link>
	
	<link rel="stylesheet" type="text/css" href="content.css" media="screen" ></link>


<title>###TITLE###</title>
</head>
<body>
	<script>var ScormApi=null; var questions = new Array();</script>

	<h1>###TITLE###</h1>

	<button class="accordion">Skriptfolie</button>
	<div class="panel">
		<p>
			<img src="###URL######PAGEID###.jpg" width="640" height="480"
				style="border: 1px solid black"></img>
		</p>
	</div>

	<button class="accordion">Lernvideo</button>
	<div class="panel">
		<p>
			<video controls width="640" height="480"
				style="border: 1px solid black">
				<source src="###URL######PAGEID###.mp4" type="video/mp4"></source>
			</video>
		</p>
	</div>


	<script src="page_accordion.js"></script>

	###QUESTIONS###


	<script type="text/javascript">
	il.Util.addOnLoad(function() {
				ilias.questions.txt.wrong_answers = "Anzahl Fehler";
				ilias.questions.txt.wrong_answers_single = "Falsche Wahl.";
				ilias.questions.txt.tries_remaining = "Verbleibende Versuche";
				ilias.questions.txt.please_try_again = "Versuchen Sie es nochmals!";
				ilias.questions.txt.all_answers_correct = "Richtig!";
				ilias.questions.txt.enough_answers_correct = "Richtig, aber nicht die bestmögliche Lösung!";
				ilias.questions.txt.nr_of_tries_exceeded = "Sie haben keine Versuche mehr.";
				ilias.questions.txt.correct_answers_shown = "Richtige Lösung siehe oben.";
				ilias.questions.txt.correct_answers_also = "Richtig sind auch:";
				ilias.questions.txt.correct_answer_also = "Richtig ist auch:";
				ilias.questions.txt.ov_all_correct = "Sie haben alle Fragen richtig beantwortet.";
				ilias.questions.txt.ov_some_correct = "Sie haben [x] von [y] Frage(n) richtig beantwortet.";
				ilias.questions.txt.ov_wrong_answered = "Die folgenden Fragen wurden noch nicht oder falsch beantwortet";
				ilias.questions.txt.please_select = "Bitte auswählen";
				ilias.questions.refresh_lang();
				 il.COPagePres.updateQuestionOverviews();
	
	});
	</script>

</body>
</html>